<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="android.valarmorghulis.unica.it.uniapp" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".SplashActivity"
            android:configChanges="orientation"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Carriera"
            android:configChanges="orientation"
            android:label="@string/title_activity_carriera"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".Stima"
            android:configChanges="orientation"
            android:label="@string/title_activity_stima"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".PianoStudi"
            android:configChanges="orientation"
            android:label="@string/piano_studi"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".Statistiche"
            android:configChanges="orientation"
            android:label="@string/title_activity_statistiche"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".EsameListActivity"
            android:label="@string/title_activity_carriera"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".EsameDetailActivity"
            android:label="@string/title_esame_detail"
            android:parentActivityName=".EsameListActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="android.valarmorghulis.unica.it.uniapp.EsameListActivity" />
        </activity>
        <activity
            android:name=".statistiche.GeneralStat"
            android:label="@string/title_activity_general_stat" >
        </activity>
        <activity
            android:name=".statistiche.AndamentoVoti"
            android:label="@string/title_activity_andamento_voti" >
        </activity>
        <activity
            android:name=".statistiche.AndamentoMediaAritmetica"
            android:label="@string/title_activity_andamento_media_aritmetica" >
        </activity>
        <activity
            android:name=".statistiche.AndamentoMediaPonderata"
            android:label="@string/title_activity_andamento_media_ponderata" >
        </activity>
    </application>

</manifest>
